<!DOCTYPE html>
<html>
    <head>
        <title>This is webpage</title>
        <style type="text/css">
            h1 {color:orange;}
            h2 {color: green;}
            body {background-color: black;}
        </style>
    </head>
<body>

    <h1>hi</h1>
    <h2>hi</h2>

    <a href="http://....">Link - bağlantı </a>"

    <p> Hi python programmers. <br> You are learning flask</p>

    <form>
        <input type="text" name="names">
        <input type="password" name="pass">
        <input type="submit" name="s">
    </form>

    <p class="hey">hi</p>
    <p id="hi">hey</p>
</body>
</html>