{% extends "block_kalitim_layout.html" %}
 
 {% block title %}
        <title>Users</title>
 {% endblock %}
 
 {% block body %}
        <body>
        {% include "sablon_navbar.html" %}
        <div class="jumbotron">
            <h2>Kullanıcılar</h2>
            {{hata}}
 
            <table class="table">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Kullanıcı Adı</th>
                        <th>Parola</th>
                    </tr>
                </thead>
                <tbody>
 
 
                    <tr class="success">
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{email}}</td>
                        <td>{{password}}</td>
                    </tr>
 
 
                </tbody>
            </table>
 
        </div>
 
        </body>
 {% endblock %}